/* WRITTEN BY T3CHN0 */

* {
	transition: 0.18s;
	border: none;
	margin: 0;
}

body {
  background-color: black;
  background-image: url("assets/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  height: 100vh;
  width: 100%;

  overflow-x: hidden;

  padding: 18px 18px;
  box-sizing: border-box;
}

.main-con {
  width: 100%;
  height: 100%;
  
  background-color: rgba(0, 0, 0, 0);

  border-radius: 32px;
  border: none;

  padding: 18px 18px;
  box-sizing: border-box;
}

.ques-con {
  border-radius: 32px;
  background-color: rgb(0, 0, 0);

  width: auto;
  height: auto;
  
  padding: 10px 5px;
  text-align: center;
}

.ques-con h1 {
  color: rgb(114, 2, 174);
  text-shadow: rgb(80, 1, 207) 4px 4px 20px;
  font-family: sans-serif;
  font-size: 270%;
  letter-spacing: 1px;
}

.ques-con p {
  font-size: 210%;
  font-family: sans-serif;
  color: rgb(2, 97, 205);
  text-shadow: rgb(2, 238, 45) 2px 2px 20px;
}

.ideas-con {
  display: flex;
  padding: 10px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;
  height: auto;
  position: relative;
  top: 20px;
  background-color: rgba(0, 0, 0, 0.556);
  border-radius: 32px;
  text-align: center;
}

.idea-sp {
  padding: 10px 10px;
  width: 90%;

  /* border-width: 2px;
  border-top: solid rgb(5, 0, 139);
  border-bottom: solid rgb(5, 0, 139); */
}

.idea-sp h1 {
  padding: 10px 0;
  background-color: rgb(2, 48, 77);
  
  color: white;
  text-shadow: black 3px 3px 0;
  font-family: Arial, sans-serif;
  font-size: 220%;

  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(99, 164, 2);
}
.idea-sp p {
  padding: 10px 10px;
  background-color: rgb(2, 48, 77);

  color: white;
  text-shadow: black 3px 3px 0;
  font-size: 170%;
  font-family: Arial, sans-serif;
  /* border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; */
}